## Fake News Detection

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path = "/home/liben/Liben/Desktop/5th year 1st semester/big data modelling/final_project/archive/"
true_df = pd.read_csv(path + 'True.csv')
fake_df = pd.read_csv(path + 'Fake.csv')

In [3]:
true_df['label'] = 0

In [4]:
fake_df['label'] = 1

In [5]:
true_df.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [6]:
fake_df.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [7]:
true_df = true_df[['text','label']]
fake_df = fake_df[['text','label']]

In [8]:
dataset = pd.concat([true_df , fake_df])

In [9]:
dataset.shape

(44898, 2)

### Null values

In [10]:
dataset.isnull().sum() # no null values

text     0
label    0
dtype: int64

### Balanced or Unbalanced dataset

In [11]:
dataset['label'].value_counts()

1    23481
0    21417
Name: label, dtype: int64

In [12]:
true_df.shape # true news

(21417, 2)

In [13]:
fake_df.shape # fake news

(23481, 2)

### Shuffle or Resample

In [14]:
dataset = dataset.sample(frac = 1)

In [15]:
dataset.head(20)

                                                    text  label
21365  JAKARTA (Reuters) - Indonesian authorities hav...      0
14976  And why Obama may be better off with a Republi...      1
5127   On Monday, Donald Trump unveiled his much anti...      1
16965  SYDNEY (Reuters) - North Korea has sent a lett...      0
10191  It s always a win-win when you can find a hobb...      1
17445  LONDON (Reuters) - British transport minister ...      0
17790  NAIROBI (Reuters) - Kenyan police fired tearga...      0
4389   ROME (Reuters) - Italy gave its support to a U...      0
20317  BRASILIA (Reuters) - A Brazilian judge on Mond...      0
42     Donald Trump s current deputy national securit...      1
9877   WASHINGTON (Reuters) - The U.S. Supreme Court ...      0
20217  What a crazy group of professional agitators a...      1
15417  Once again, a great opening statement from Jud...      1
2067   BAGHDAD (Reuters) - Iraqi forces breached on T...      0
9980   A member of President Trump s  Diversity Counc...      1
12884  During Wednesday s Presidential Town Hall on C...      1
19263                                Via: GATEWAY PUNDIT      1
16403  BRUSSELS (Reuters) - NATO accused Russia on Th...      0
9777    Last week, President Trump made a public anno...      1
13272  KABUL (Reuters) - The commander of the Taliban...      0

In [16]:
import nltk

In [17]:
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [18]:
lemmatizer = WordNetLemmatizer()

In [19]:
nltk.download('stopwords')
stopwords = stopwords.words('english')

[nltk_data] Downloading package stopwords to /home/liben/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [20]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /home/liben/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [21]:
def clean_data(text):
    text = text.lower() 
    row = re.sub('[^a-zA-Z]' , ' ' , text)
    token = row.split() 
    news = [lemmatizer.lemmatize(word) for word in token if not word in stopwords]  
    clean_news = ' '.join(news) 
    
    return clean_news

In [22]:
dataset['text'] = dataset['text'].apply(lambda x : clean_data(x))

In [23]:
dataset.isnull().sum()

text     0
label    0
dtype: int64

In [33]:
from sklearn.model_selection import train_test_split
train_X , test_X , train_y , test_y = train_test_split(dataset['text'] , dataset['label'] , test_size = 0.2 ,random_state = 0)

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [34]:
vectorizer = TfidfVectorizer(stop_words='english',max_features = 50000 , lowercase=False , ngram_range=(1,2))

In [37]:
#DataFlair - Fit and transform train set, transform test set
tfidf_train=vectorizer.fit_transform(train_X) 
tfidf_test=vectorizer.transform(test_X)

In [39]:
from sklearn.naive_bayes import MultinomialNB

In [42]:
from sklearn.metrics import accuracy_score,classification_report
clf = MultinomialNB()
clf.fit(tfidf_train, train_y)
predictions  = clf.predict(tfidf_test)

print(classification_report(test_y , predictions))

              precision    recall  f1-score   support

           0       0.95      0.94      0.95      4352
           1       0.95      0.96      0.95      4628

    accuracy                           0.95      8980
   macro avg       0.95      0.95      0.95      8980
weighted avg       0.95      0.95      0.95      8980

In [44]:
predictions_train = clf.predict(tfidf_train)
print(classification_report(train_y , predictions_train))

              precision    recall  f1-score   support

           0       0.96      0.95      0.95     17065
           1       0.96      0.96      0.96     18853

    accuracy                           0.96     35918
   macro avg       0.96      0.96      0.96     35918
weighted avg       0.96      0.96      0.96     35918

In [45]:
accuracy_score(train_y , predictions_train)

0.9568461495628933

In [46]:
accuracy_score(test_y , predictions)

0.9488864142538975

In [54]:
# Saving the trained model
import pickle

##dump the model into a file
with open("model.bin", 'wb') as f_out:
    pickle.dump(clf, f_out) # write final_model in .bin file
    f_out.close()  # close the file

In [27]:
X = dataset.iloc[:35000,0]
y = dataset.iloc[:35000,1]

In [28]:
X.head()

21365    jakarta reuters indonesian authority uncovered...
14976    obama may better republican president edward k...
5127     monday donald trump unveiled much anticipated ...
16965    sydney reuters north korea sent letter austral...
10191    always win win find hobby enjoy especially all...
Name: text, dtype: object

In [29]:
y.head()

21365    0
14976    1
5127     1
16965    0
10191    1
Name: label, dtype: int64

In [35]:
vec_train = vectorizer.fit_transform(train_X)

In [36]:
vec_train = vec_train.toarray()

In [37]:
vec_test = vectorizer.transform(test_X).toarray()

In [38]:
train_data = pd.DataFrame(vec_train , columns=vectorizer.get_feature_names())
test_data = pd.DataFrame(vec_test , columns= vectorizer.get_feature_names())

## Multinomial NB

In [39]:
from sklearn.naive_bayes import MultinomialNB

In [40]:
from sklearn.metrics import accuracy_score,classification_report

In [41]:
clf = MultinomialNB()

In [ ]:
clf.fit(train_data, train_y)
predictions  = clf.predict(test_data)

In [ ]:
print(classification_report(test_y , predictions))

Now predict on both train set

In [ ]:
predictions_train = clf.predict(train_data)
print(classification_report(train_y , predictions_train))

In [ ]:
accuracy_score(train_y , predictions_train)

In [ ]:
accuracy_score(test_y , predictions)